USE [master]
GO
/****** Object:  Database [ParserAM]    Script Date: 12/25/2022 11:48:39 PM ******/
CREATE DATABASE [ParserAM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParserAM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ParserAM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ParserAM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ParserAM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParserAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParserAM]
GO
/****** Object:  Table [dbo].[DirtyCoin]    Script Date: 12/25/2022 11:48:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DirtyCoin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Bitkin] [nvarchar](max) NULL,
	[Conros] [nvarchar](max) NULL,
	[Denomination] [nvarchar](max) NULL,
	[Quality] [nvarchar](max) NULL,
	[Material] [nvarchar](max) NULL,
	[Weight] [nvarchar](max) NULL,
	[Diameter] [nvarchar](max) NULL,
	[Circulation] [nvarchar](max) NULL,
	[Gurt] [nvarchar](max) NULL,
	[Year] [nvarchar](max) NULL,
	[Obverse] [nvarchar](max) NULL,
	[Reverse] [nvarchar](max) NULL,
	[ImgFrontUrl] [nvarchar](max) NULL,
	[ImgBackUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_DirtyCoin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
